@spartacus:registry=https://73554900100900004337.npmsrv.base.repositories.cloud.sap/
//73554900100900004337.npmsrv.base.repositories.cloud.sap/:_auth=MDAwMDI3NDA0NC1WaWpheTp1ZFNrcHMyajFyeXRNbU1BZEh0Z0RnUnV4T29sbDh6TA@@==
always-auth=true
